{% extends "_inc/_layout.twig" %}
{% set title = "Fapor" %} {# {{ title }} #}
{% set foot_img_src = "/img/foot-img.jpg" %} {# {{ title }} #}

{# {% set lnk_active_1 = "active" %} #} {# {{ lnk_active_1 }} #}


{% block page %}

<div class="home-wrap">
	<section class="page-section style-team">
		<div class="container">
			<h2 class="page-section__hdg">Management</h2>
			<div class="swiper-container team-slider js-teamSlider">
			    <div class="swiper-wrapper">
				    <div class="swiper-slide team-slide">
				    	<div class="team-slide__top">
				    		<img class="team-slide__img" src="./web/img/home/team/manager-1.jpg" alt="manager">
				    		<a href="#" class="btn-light team-slide__btn">See more</a>
				    	</div>
				    	<div class="team-slide__bottom">
				    		<div class="team-slide__bottom-left">
				    			<span class="team-slide__bottom-name">Courteney Cox</span>
				    			<span class="team-slide__bottom-pos">Marketing Manager</span>
				    		</div>
				    		<ul class="social">
				    			<li class="social__itm"><a href="#" class="social__lnk facebook"></a></li>
				    			<li class="social__itm"><a href="#" class="social__lnk twitter"></a></li>
				    			<li class="social__itm"><a href="#" class="social__lnk g-plus"></a></li>
				    		</ul>
				    	</div>
				    </div>
				    <div class="swiper-slide team-slide">
				    	<div class="team-slide__top">
				    		<img class="team-slide__img" src="./web/img/home/team/manager-2.jpg" alt="manager">
				    		<a href="#" class="btn-light team-slide__btn">See more</a>
				    	</div>
				    	<div class="team-slide__bottom">
				    		<div class="team-slide__bottom-left">
				    			<span class="team-slide__bottom-name">Matt LeBlanc</span>
				    			<span class="team-slide__bottom-pos">Finance Manager</span>
				    		</div>
				    		<ul class="social">
				    			<li class="social__itm"><a href="#" class="social__lnk facebook"></a></li>
				    			<li class="social__itm"><a href="#" class="social__lnk twitter"></a></li>
				    			<li class="social__itm"><a href="#" class="social__lnk g-plus"></a></li>
				    		</ul>
				    	</div>
				    </div>
				    <div class="swiper-slide team-slide">
				    	<div class="team-slide__top">
				    		<img class="team-slide__img" src="./web/img/home/team/manager-3.jpg" alt="manager">
				    		<a href="#" class="btn-light team-slide__btn">See more</a>
				    	</div>
				    	<div class="team-slide__bottom">
				    		<div class="team-slide__bottom-left">
				    			<span class="team-slide__bottom-name">David Shwimmer</span>
				    			<span class="team-slide__bottom-pos">Creative Director</span>
				    		</div>
				    		<ul class="social">
				    			<li class="social__itm"><a href="#" class="social__lnk facebook"></a></li>
				    			<li class="social__itm"><a href="#" class="social__lnk twitter"></a></li>
				    			<li class="social__itm"><a href="#" class="social__lnk g-plus"></a></li>
				    		</ul>
				    	</div>
				    </div>
				    <div class="swiper-slide team-slide">
				    	<div class="team-slide__top">
				    		<img class="team-slide__img" src="./web/img/home/team/manager-1.jpg" alt="manager">
				    		<a href="#" class="btn-light team-slide__btn">See more</a>
				    	</div>
				    	<div class="team-slide__bottom">
				    		<div class="team-slide__bottom-left">
				    			<span class="team-slide__bottom-name">Courteney Cox</span>
				    			<span class="team-slide__bottom-pos">Marketing Manager</span>
				    		</div>
				    		<ul class="social">
				    			<li class="social__itm"><a href="#" class="social__lnk facebook"></a></li>
				    			<li class="social__itm"><a href="#" class="social__lnk twitter"></a></li>
				    			<li class="social__itm"><a href="#" class="social__lnk g-plus"></a></li>
				    		</ul>
				    	</div>
				    </div>
				    <div class="swiper-slide team-slide">
				    	<div class="team-slide__top">
				    		<img class="team-slide__img" src="./web/img/home/team/manager-2.jpg" alt="manager">
				    		<a href="#" class="btn-light team-slide__btn">See more</a>
				    	</div>
				    	<div class="team-slide__bottom">
				    		<div class="team-slide__bottom-left">
				    			<span class="team-slide__bottom-name">Matt LeBlanc</span>
				    			<span class="team-slide__bottom-pos">Finance Manager</span>
				    		</div>
				    		<ul class="social">
				    			<li class="social__itm"><a href="#" class="social__lnk facebook"></a></li>
				    			<li class="social__itm"><a href="#" class="social__lnk twitter"></a></li>
				    			<li class="social__itm"><a href="#" class="social__lnk g-plus"></a></li>
				    		</ul>
				    	</div>
				    </div>
				    <div class="swiper-slide team-slide">
				    	<div class="team-slide__top">
				    		<img class="team-slide__img" src="./web/img/home/team/manager-3.jpg" alt="manager">
				    		<a href="#" class="btn-light team-slide__btn">See more</a>
				    	</div>
				    	<div class="team-slide__bottom">
				    		<div class="team-slide__bottom-left">
				    			<span class="team-slide__bottom-name">David Shwimmer</span>
				    			<span class="team-slide__bottom-pos">Creative Director</span>
				    		</div>
				    		<ul class="social">
				    			<li class="social__itm"><a href="#" class="social__lnk facebook"></a></li>
				    			<li class="social__itm"><a href="#" class="social__lnk twitter"></a></li>
				    			<li class="social__itm"><a href="#" class="social__lnk g-plus"></a></li>
				    		</ul>
				    	</div>
				    </div>
				    <div class="swiper-slide team-slide">
				    	<div class="team-slide__top">
				    		<img class="team-slide__img" src="./web/img/home/team/manager-1.jpg" alt="manager">
				    		<a href="#" class="btn-light team-slide__btn">See more</a>
				    	</div>
				    	<div class="team-slide__bottom">
				    		<div class="team-slide__bottom-left">
				    			<span class="team-slide__bottom-name">Courteney Cox</span>
				    			<span class="team-slide__bottom-pos">Marketing Manager</span>
				    		</div>
				    		<ul class="social">
				    			<li class="social__itm"><a href="#" class="social__lnk facebook"></a></li>
				    			<li class="social__itm"><a href="#" class="social__lnk twitter"></a></li>
				    			<li class="social__itm"><a href="#" class="social__lnk g-plus"></a></li>
				    		</ul>
				    	</div>
				    </div>
				    <div class="swiper-slide team-slide">
				    	<div class="team-slide__top">
				    		<img class="team-slide__img" src="./web/img/home/team/manager-2.jpg" alt="manager">
				    		<a href="#" class="btn-light team-slide__btn">See more</a>
				    	</div>
				    	<div class="team-slide__bottom">
				    		<div class="team-slide__bottom-left">
				    			<span class="team-slide__bottom-name">Matt LeBlanc</span>
				    			<span class="team-slide__bottom-pos">Finance Manager</span>
				    		</div>
				    		<ul class="social">
				    			<li class="social__itm"><a href="#" class="social__lnk facebook"></a></li>
				    			<li class="social__itm"><a href="#" class="social__lnk twitter"></a></li>
				    			<li class="social__itm"><a href="#" class="social__lnk g-plus"></a></li>
				    		</ul>
				    	</div>
				    </div>
				    <div class="swiper-slide team-slide">
				    	<div class="team-slide__top">
				    		<img class="team-slide__img" src="./web/img/home/team/manager-3.jpg" alt="manager">
				    		<a href="#" class="btn-light team-slide__btn">See more</a>
				    	</div>
				    	<div class="team-slide__bottom">
				    		<div class="team-slide__bottom-left">
				    			<span class="team-slide__bottom-name">David Shwimmer</span>
				    			<span class="team-slide__bottom-pos">Creative Director</span>
				    		</div>
				    		<ul class="social">
				    			<li class="social__itm"><a href="#" class="social__lnk facebook"></a></li>
				    			<li class="social__itm"><a href="#" class="social__lnk twitter"></a></li>
				    			<li class="social__itm"><a href="#" class="social__lnk g-plus"></a></li>
				    		</ul>
				    	</div>
				    </div>
			    </div>
			</div><!-- End Team Slider -->
			<div class="btn-wrap">
				<a href="#" class="btn">Show all</a>
			</div>
		</div>
	</section>

	<section class="page-section style-reviews">
		<div class="container">
			<h2 class="page-section__hdg style-dark-line">What our clients say</h2>
			<div class="swiper-container reviews-slider js-reviewsSlider">
				<div class="swiper-wrapper">
					<div class="swiper-slide reviews-slide">
						<div class="reviews-slide__img-wrp">
							<img class="reviews-slide__img" src="./web/img/home/customers/customer.jpg" alt="customer">
						</div>
						<div class="reviews-slide__descr">
							<p>Praesent tincidunt molestie libero mollis porta. Faucibus leo, ac aliquet magna. Vivamus ullamcorper mollis leo, at sagittis mi pellentesque quis. Praesent nec elit tristique.</p>
						</div>
						<div class="reviews-slide__bottom">
							<span class="reviews-slide__name">Larry Jane</span>
							<span class="reviews-slide__pos">General Manager</span>
						</div>
					</div>
					<div class="swiper-slide reviews-slide">
						<div class="reviews-slide__img-wrp">
							<img class="reviews-slide__img" src="./web/img/home/customers/customer.jpg" alt="customer">
						</div>
						<div class="reviews-slide__descr">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet accusantium incidunt quas nesciunt impedit temporibus magni culpa iusto nulla inventore saepe veritatis ipsam facere, quod, dolore qui veniam, dolores deleniti dolor. Consequatur culpa perspiciatis quia, saepe eius veniam natus dolor commodi et ipsa officia repudiandae, eos illum iusto rerum voluptatem.</p>
						</div>
						<div class="reviews-slide__bottom">
							<span class="reviews-slide__name">Santa Claus</span>
							<span class="reviews-slide__pos">Deers owner</span>
						</div>
					</div>
					<div class="swiper-slide reviews-slide">
						<div class="reviews-slide__img-wrp">
							<img class="reviews-slide__img" src="./web/img/home/customers/customer.jpg" alt="customer">
						</div>
						<div class="reviews-slide__descr">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet accusantium incidunt quas nesciunt impedit temporibus magni culpa iusto nulla inventore saepe veritatis ipsam facere, quod, dolore qui veniam, dolores deleniti dolor. Consequatur culpa perspiciatis quia, saepe eius veniam natus dolor commodi et ipsa officia repudiandae, eos illum iusto rerum voluptatem.</p>
						</div>
						<div class="reviews-slide__bottom">
							<span class="reviews-slide__name">Jim Carrey</span>
							<span class="reviews-slide__pos">Bruce Almighty</span>
						</div>
					</div>
				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</section>
</div><!-- home-wrap END -->

{% endblock %}