{# {% include "footer.twig" %} #}

<div class="main-foot__top">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-12 col-lg-4 col-xl-4">
				<div class="foot-info" style="padding-right: 80px;">
					<h6>About fapor</h6>
					<p>We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful.</p>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3 offset-xl-1">
				<div class="foot-info">
					<h6>Contact info</h6>
					<ul class="contacts">
						<li>PO Box 17122 Nollins Street</li>
						<li>5034 Los Angeles</li>
					</ul>
					<ul class="contacts">
						<li>Phone: <a href="" class="contacts__lnk">1800555.0658</a></li>
						<li>Email: <a href="" class="contacts__lnk">support@fapor.com</a></li>
						<li>Web: <a href="#" class="contacts__lnk">fapor.com</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-4">
				<div class="foot-info" style="padding-left: 76px;">
					<h6>Subscribe to our newsletter</h6>
					<div class="page-form">
						<form class="needs-validation" novalidate>
						  <div class="form-group">
						    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email adress" required>
						    <div class="invalid-feedback">
						        Please enter your email.
						    </div>
						  </div>
						  <button type="submit" class="btn-primary btn-squared">Subscribe now</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="main-foot__bottom">
	<div class="container">
		<div class="main-foot__bottom-cont">
			<span class="copyright">
				&copy; 2016 Fapor by Respotheme
			</span>
			<ul class="social style-2">
    			<li class="social__itm"><a href="#" class="social__lnk facebook"></a></li>
    			<li class="social__itm"><a href="#" class="social__lnk twitter"></a></li>
    			<li class="social__itm"><a href="#" class="social__lnk g-plus"></a></li>
    			<li class="social__itm"><a href="#" class="social__lnk dribbble"></a></li>
    		</ul>
		</div>
	</div>
</div>