{# {% include "header.twig" %} #}

<div class="main-head__top">
	<div class="container style-header">
		<div class="main-head__cont">
			<div class="logo__wrap">
				<a href="/" class="logo"><img src="./web/img/logo-ic.png" alt="logo">
					<span class="logo__name">Fapor</span>
				</a>
			</div>
			{% include "menu-main.twig" %}
		</div>
	</div>
</div>

<div class="container style-header">
	<div class="main-head__bottom">
		<h1>More about us</h1>
		<div class="descr-text">
			<p>We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful.</p>
		</div>
	</div>
</div>

