{# {% include "head.twig" %} #}

<head>
	<title>{{ title }}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="web/img/favicon.png" type="image/x-icon">

	<style>
		.preloader {
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #fff;
			z-index: 10000;
			background-position: center;
			background-size: 100px;
			background-repeat: no-repeat;
			background-image: url("web/img/logo-ic.png");
		}
	</style>
</head>