{# {% include "menu-main.twig" %} #}

<div class="page-menu__wrap js-mobile-menu">
	<div class="toggle-btn"><span></span></div>
	<nav>
		<ul class="page-menu">
			<li class="page-menu__itm"><a href="#">Home</a></li>
			<li class="page-menu__itm active"><a href="#">About</a></li>
			<li class="page-menu__itm"><a href="#">Service</a></li>
			<li class="page-menu__itm"><a href="#">Portfolio</a></li>
			<li class="page-menu__itm"><a href="#">Contact</a></li>
		</ul>
	</nav>
</div>	