{# {% include "soc-wrap.twig" %} #}


<div class="soc-wrap">
	<a href="#"><i class="soc-ic" style="background-image: url(web/img/_style/_svg/_social/social_fb_hover.svg);"></i></a>
	<a href="#"><i class="soc-ic" style="background-image: url(web/img/_style/_svg/_social/social_tw_hover.svg);"></i></a>
	<a href="#"><i class="soc-ic" style="background-image: url(web/img/_style/_svg/_social/social_g+_hover.svg);"></i></a>
	<a href="#"><i class="soc-ic" style="background-image: url(web/img/_style/_svg/_social/social_xinx_hover.svg);"></i></a>
</div>